/**{
    border: 1px solid red;
}*/

html{
  overflow: hidden;
}
body{
  background-color: #f0f0f0;
  font-family: 'Raleway';
  margin: 0;
}

.landing-sect {
  transition: opacity 8s;
}

.title {
  position: absolute;
  top: 30%;
  font-size: 30px;
  letter-spacing: .5em;
  color: #51b6e5;
  text-transform: uppercase;
  font-weight: 300;
  text-align: center;
  margin: 0 auto;
  z-index: 5;
  width: 100vw;
}

.landing-sect .tag-box {
  position: absolute;
  display:flex;
  justify-content: space-around;
  bottom: 30%;
  margin: 0 auto;
  text-align: center;
  font-size: 14pt;
  font-weight: 300;
  z-index: 7;
  text-transform: uppercase;
  letter-spacing: .3em;
  width: 100vw;
  color: white;

}

.clouds .cloud{
  height: 50vh;
  position: absolute;
  width: 8000px;
  left: -2000px;
}


.cloud-1{
  background: url('https://res.cloudinary.com/dvjtpejbw/image/upload/v1542222834/clouds1.png');
  background-repeat: repeat-x;
  animation: drift 150s linear infinite;
  -webkit-animation: drift 150s linear infinite;
  z-index: 3
}

.cloud-2 {
  background: url('https://image.ibb.co/fQKbYF/clouds2.png');
  background-repeat: repeat-x;
  background-position: bottom left;
  animation: drift 200s linear infinite;
  -webkit-animation: drift 200s linear infinite;
  z-index: 2;
  transform: translateY(-13%);
  }

.cloud-3 {
  background: url('https://image.ibb.co/jnTELv/clouds3.png');
  background-repeat: repeat-x;
  background-position: bottom left;
  animation: drift 500s linear infinite;
  -webkit-animation: drift 500s linear infinite;
  background-color: #2f98b6;
  z-index: 1;
}

  .inverse {
    transform: scaleY(-1);
    -webkit-transform: scaleY(-1);
    top: -100vh;
    opacity:0.5;
  }

  .p1{
    z-index: 0;
    background: #0e6fb1;
    width: 50%;
    position: absolute;
    right: 0;
    bottom: -20%;
    height: 62vh;
    background-image: -moz-linear-gradient( 75deg, rgb(32,170,241) 0%, rgb(32,194,241) 56%, rgb(127,225,253) 100%);
    background-image: -webkit-linear-gradient( 75deg, rgb(32,170,241) 0%, rgb(32,194,241) 56%, rgb(127,225,253) 100%);
    background-image: -ms-linear-gradient( 75deg, rgb(32,170,241) 0%, rgb(32,194,241) 56%, rgb(127,225,253) 100%);
    transition: opacity .1s, transform .3s, right .3s;
    -webkit-transition: opacity .1s, -webkit-transform .3s, right .3s;
    transform: translateY(-13%);
    -ms-transform: -ms-transform .3s;
    -webkit-transition: -webkit-transform .3s;
    transition: transform .3s;
  }

  .p1 span{
    position: absolute;
    bottom: 50vh;
    color: white;
    font-size: 30px;
    width: 50vw;
    margin: 0 auto;
    text-align: center;
    animation: shake 8s infinite;
    -webkit-animation: shake 8s infinite;
  }

  .p3{
    z-index: 4;
    background: #50aae4;
    width: 50%;
    position: absolute;
    bottom: -20%;
    height: 62vh;
    background-image: -moz-linear-gradient( 75deg, rgb(32,170,241) 0%, rgb(32,194,241) 56%, rgb(127,225,253) 100%);
    background-image: -webkit-linear-gradient( 75deg, rgb(32,170,241) 0%, rgb(32,194,241) 56%, rgb(127,225,253) 100%);
    background-image: -ms-linear-gradient( 75deg, rgb(32,170,241) 0%, rgb(32,194,241) 56%, rgb(127,225,253) 100%);
    transition: opacity .1s, transform .3s, right .3s;
    -webkit-transition: opacity .1s, -webkit-transform .3s, right .3s;
    transform: translateY(-13%);
    -ms-transform: -ms-transform .3s;
    -webkit-transition: -webkit-transform .3s;
    transition: transform .3s;
    opacity: .5;
  }

  .p3 span{
    position: absolute;
    bottom: 50vh;
    color: white;
    font-size: 30px;
    width: 50vw;
    margin: 0 auto;
    text-align: center;
    animation: shake 6s infinite;
    -webkit-animation: shake 6s infinite;
    z-index: 5;
    opacity: 1;
  }

  .p3 span:hover{
    color: black;
  }

  .square{
    display: flex;
    position: absolute;
    z-index: 10;
    margin: auto auto;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
  }

  .logo {
    height: 8vh;
    animation: shake 8s infinite;
    -webkit-animation: shake 8s infinite;
  }


/*PROJECTS*/

.projects-page{
  opacity: 0;
}

.projects-title {
  text-align: center;
  font-size: 30px;
  padding: 2rem;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center
}

.project {
  margin: 2rem;
  height: auto;
  background-color: white;
  color: #999999;
  box-shadow: 0 20px 40px -14px rgba(0,0,0,0.25);
  border-radius: 0.25rem;
  max-width: 25rem;
}

/*not working*/
.project:hover {
  img{
    filter: contrast(100%);
  }
}

.card-img{
  width: 100%;
  height: auto;
  border-radius: 0.25rem;
}

.card-content{
  padding: 1rem;
}

.card-title{
  font-size: 1.5rem;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.card-info{

}

img{

}

/*CONNECT*/

.connect-page{
  display: none;
}


@keyframes drift {
  0% { transform: translateX(0); }
  100% { transform: translateX(1920px); }
}

@keyframes toBottomFromTop {
  49% {
    transform: translateY(100%);
  }
  50% {
    opacity: 0;
    transform: translateY(-100%);
  }
  51% {
    opacity: 1;
  }
}

@keyframes shake {
  0%    { transform: translate(2px, 1px); }
  95%   { transform: translate(2px, 1px) rotate(0deg); }
  95.5% { transform: translate(-1px, -2px) rotate(-1deg); }
  96%   { transform: translate(-3px, 0px) rotate(1deg); }
  96.5% { transform: translate(0px, 2px) rotate(0deg); }
  97%   { transform: translate(1px, -1px) rotate(1deg); }
  97.5% { transform: translate(-1px, 2px) rotate(-1deg); }
  98%   { transform: translate(-3px, 1px) rotate(0deg); }
  98.5% { transform: translate(2px, 1px) rotate(-1deg); }
  99%   { transform: translate(-1px, -1px) rotate(1deg); }
  99.5% { transform: translate(2px, 2px) rotate(0deg); }
  100%  { transform: translate(1px, -2px) rotate(-1deg); }
}
