/**{
    border: 1px solid red;
}*/

html{
  overflow: hidden;
  height: 100vh;
  width: 100vw;
}

body{
  background-color: #f0f0f0;
  font-family: 'Raleway';
  margin: 0;
  height: 100vh;
  width: 100vw;
}

.landing-page{
  height: 100vh;
  width: 100vh;
}

.landing-sect span{
  opacity: 1;
  transition: opacity 8s;
  -webkit-transition: opacity 8s;
}

.title {
  position: absolute;
  width: 100vw;
  margin: 0 auto;
  text-align: center;
  top: 30%;
  text-transform: uppercase;
  font-size: 30px;
  letter-spacing: .5em;
  color: #51b6e5;
  font-weight: 300;
  z-index: 5;
}

.highlight {
  color: #0e76bc;
  font-weight: 700;
}

.tag-box {
  position: absolute;
  display:flex;
  flex-wrap: wrap;
  width: 100vw;
  bottom: 30vh;
  z-index: 7;
  color: white;
  text-transform: uppercase;
  letter-spacing: .3em;
  margin: 0 auto;
  text-align: center;
  font-size: 14pt;
  font-weight: 300;
  justify-content: space-around;
}

  .tag-box span{
      padding: 2%;

  }

/*.shutter{
  display:none;
}*/

.clouds{
  height: 50vh;
  width: 100vw;
  margin: 0;
}

.clouds .cloud{
  position: absolute;
  height: 50vh;
  width: 8000px;
  left: -2000px;
}

.cloud-1{
  background: url('./src/clouds1.png');
  background-repeat: repeat-x;
  animation: drift 150s linear infinite;
  -webkit-animation: drift 150s linear infinite;
  z-index: 3;
}

.cloud-2 {
  background: url('./src/clouds2.png');
  background-repeat: repeat-x;
  animation: drift 200s linear infinite;
  -webkit-animation: drift 200s linear infinite;
  z-index: 2;
  }

.cloud-3 {
  background: url('./src/clouds3.png');
  background-color: #2f98b6;
  background-repeat: repeat-x;
  animation: drift 500s linear infinite;
  -webkit-animation: drift 500s linear infinite;
  z-index: 1;
}

  .clouds.inverse {
    -webkit-transform: scaleY(-1);
    transform: scaleY(-1);
    opacity:0.1;
    z-index: 100;
  }

  .logo img:hover {
    -webkit-filter: saturate(200%);
      filter: saturate(200%);
  }

.pane {
  position: absolute;
  -ms-transform: -ms-transform 0.3s;
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
}

.pane:hover{
  font-size: 40pt;
}

.header{
  font-size: 30pt;
  position: absolute;
}


  .p1.show{
    background: #b1e1ee;
    background-image: -moz-linear-gradient( 138deg, rgb(162,219,234) 0%, rgb(210,253,255) 71%);
    background-image: -webkit-linear-gradient( 138deg, rgb(162,219,234) 0%, rgb(210,253,255) 71%);
    background-image: -ms-linear-gradient( 138deg, rgb(162,219,234) 0%, rgb(210,253,255) 71%);
    left: 0;
    top: 0;
    width: 42vw;
    height: 58vh;
  }

    .p1 .header{
      color: #208DAC;
      right: 1vh;
      bottom: 1vh;
    }

    .p1.active{
      width: 100vw;
      height: 100vh;
      z-index: 12;
    }

  .p2.show{
    position: absolute;
    background: #1894b8;
    width: 58vw;
    height: 42vh;
    right: 0;
    top: 0;
    background-image: -moz-linear-gradient( 72deg, rgb(23,137,170) 0%, rgb(24,158,174) 100%);
    background-image: -webkit-linear-gradient( 72deg, rgb(23,137,170) 0%, rgb(24,158,174) 100%);
    background-image: -ms-linear-gradient( 72deg, rgb(23,137,170) 0%, rgb(24,158,174) 100%);
    transition: opacity .1s, transform .3s, right .3s;
      -webkit-transition: opacity .1s,
    transform: translateY(-13%);
      -webkit-transform: .3s, right .3s;
      -ms-transform: -ms-transform .3s;
    transition: transform .3s;
      -webkit-transition: -webkit-transform .3s;
  }

    .p2 span{
      color: #A9EDFF;
      bottom: 1vh;
      left: 1vh;
    }

    .p2.active{
      width: 100vw;
      height: 100vh;
      z-index: 12;
    }

  .p3.show{
    height: 58vh;
    width: 42vw;
    right: 0;
    bottom: 0;
    background: #0e566b;
    background-image: -moz-linear-gradient( -48deg, rgb(14,86,107) 0%, rgba(14,86,107,0.78) 43%, rgba(17,124,137,0.4902) 100%);
    background-image: -webkit-linear-gradient( -48deg, rgb(14,86,107) 0%, rgba(14,86,107,0.78) 43%, rgba(17,124,137,0.4902) 100%);
    background-image: -ms-linear-gradient( -48deg, rgb(14,86,107) 0%, rgba(14,86,107,0.78) 43%, rgba(17,124,137,0.4902) 100%);
  }

    .p3 .header{
      position: absolute;
      top: 1vh;
      left: 1vh;
      color: #49B9C0;
      font-size: 30pt;
      margin: 0 auto;
      text-align: center;
      display: none;
    }

    .p3.active{
      width: 100vw;
      height: 100vh;
      z-index: 12;
    }

  .p4{
    position: absolute;
    background: #20c2f1;
    z-index: 0;
    width: 100vw;
    bottom: 0;
    height: 50vh;
    background-image: -moz-linear-gradient( 75deg, rgb(32,170,241) 0%, rgb(32,194,241) 56%, rgb(127,225,253) 100%);
    background-image: -webkit-linear-gradient( 75deg, rgb(32,170,241) 0%, rgb(32,194,241) 56%, rgb(127,225,253) 100%);
    background-image: -ms-linear-gradient( 75deg, rgb(32,170,241) 0%, rgb(32,194,241) 56%, rgb(127,225,253) 100%);
    transition: opacity .1s, transform .3s, right .3s;
      -webkit-transition: opacity .1s, -webkit-transform .3s, right .3s;
  }

    .p4 .header{
      display: none;
      color: #1778AE;
      position: absolute;
      top: 1vh;
      right: 1vh;
      font-size: 30pt;
      margin: 0 auto;
      text-align: center;
    }

    .p4.show{
      background: #20c2f1;
      height: 42vh;
      width: 58vw;
      left: 0;
      bottom: 0;
      background-image: -moz-linear-gradient( 75deg, rgb(32,170,241) 0%, rgb(32,194,241) 56%, rgb(127,225,253) 100%);
      background-image: -webkit-linear-gradient( 75deg, rgb(32,170,241) 0%, rgb(32,194,241) 56%, rgb(127,225,253) 100%);
      background-image: -ms-linear-gradient( 75deg, rgb(32,170,241) 0%, rgb(32,194,241) 56%, rgb(127,225,253) 100%);
    }

    .p4.active{
      width: 100vw;
      height: 100vh;
      z-index: 12;
    }

.show{
  cursor: pointer;
  z-index: 11;
}

.active .header {
      top: 3vh;
      width: 100vw;
      height: 10vh;
      text-align: center;
    }


  .square{
    display: flex;
    position: absolute;
    z-index: 10;
    margin: auto auto;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
  }

  .logo {
    height: 8vh;
    cursor: pointer;
    animation: shake 8s infinite;
    -webkit-animation: shake 8s infinite;
  }

  .logo:hover {
  -webkit-filter: saturate(200%);
  filter: saturate(200%);
  }


/*PROJECTS*/

.projects-page{
  opacity: 0;
}

.projects-title {
  text-align: center;
  font-size: 30px;
  padding: 2rem;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center
}

.project {
  margin: 2rem;
  height: auto;
  background-color: white;
  color: #999999;
  box-shadow: 0 20px 40px -14px rgba(0,0,0,0.25);
  border-radius: 0.25rem;
  max-width: 25rem;
}

/*not working*/
.project:hover {
  img{
    filter: contrast(100%);
  }
}

.card-img{
  width: 100%;
  height: auto;
  border-radius: 0.25rem;
}

.card-content{
  padding: 1rem;
}

.card-title{
  font-size: 1.5rem;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.card-info{

}

img{

}

/*CONNECT*/

.connect-page{
  display: none;
}


@keyframes drift {
  0% { transform: translateX(0); }
  100% { transform: translateX(1920px); }
}

@keyframes toBottomFromTop {
  49% { transform: translateY(100%); }
  50% { opacity: 0;
        transform: translateY(-100%); }
  51% { opacity: 1; }
}

@keyframes shake {
  0%    { transform: translate(2px, 1px); }
  95%   { transform: translate(2px, 1px) rotate(0deg); }
  95.5% { transform: translate(-1px, -2px) rotate(-1deg); }
  96%   { transform: translate(-3px, 0px) rotate(1deg); }
  96.5% { transform: translate(0px, 2px) rotate(0deg); }
  97%   { transform: translate(1px, -1px) rotate(1deg); }
  97.5% { transform: translate(-1px, 2px) rotate(-1deg); }
  98%   { transform: translate(-3px, 1px) rotate(0deg); }
  98.5% { transform: translate(2px, 1px) rotate(-1deg); }
  99%   { transform: translate(-1px, -1px) rotate(1deg); }
  99.5% { transform: translate(2px, 2px) rotate(0deg); }
  100%  { transform: translate(1px, -2px) rotate(-1deg); }
}
